<!DOCTYPE HTML>
<html>
  <head>
    <title>Todo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <div><%= todos %></div>
    <!--<ul>-->
      <!--<% for(var i=0; i<todos.length; i++) {%>-->
      <!--<li><%= todos[i] %></li>-->
      <!--<% } %>-->
    <!--</ul>-->
  </body>
</html>
